
    <h1>results</h1>
  
    
    
    <% if (allrecs.length > 0) {%>
      
      <% allrecs.forEach((recref, index) => { %>
        <product>
          <table>
          <tr> <td colspan="2"><%= recref.productname %></td></tr>
          <tr> <td colspan="2"><%= recref.prodimage %></td></tr>
          <tr> <td colspan="2"><%= recref.description %></td></tr>
          <tr> <td><%= recref.package_id %> </td> <td><%=
          recref.category_id %></td> </tr>
          <tr> <td><%= recref.prodcolor %></td> <td><%= recref.saleprice
          %></td></tr>
          <tr> <td><%= recref.status %></td>
          <td><a href='/product/<%= recref.product_id%>/show'>Details</a></td></tr>
          </table>
          </product>
      <% }); %>
      </table>
      <% } else { %>
      <p>No Records Available</p>
      <% } %>
    
      