<h1> Details </h1>
<table>
<tr> <td> Product ID: </td> <td> <%= onerec.product_id %> </td> </tr>
<tr> <td> Product Name: </td> <td> <%= onerec.productname %> </td> </tr>
<tr> <td> Image: </td> <td> <%= onerec.prodimage %> </td> </tr>
<tr> <td> Description: </td> <td> <%= onerec.description %> </td> </tr>
<tr> <td> Ingredients: </td> <td> <%= onerec.ingredients %> </td> </tr>
<tr> <td> Weight: </td> <td> <%= onerec.weightdetail %> </td> </tr>
<tr> <td> Health Info: </td> <td> <%= onerec.healthwarn %> </td> </tr>
<tr> <td> Color: </td> <td> <%= onerec.prodcolor %> </td> </tr>
<tr> <td> Package Type: </td> <td> <%= onerec.package_id %> </td> </tr>
<tr> <td> Category Type: </td> <td> <%= onerec.category_id %> </td> </tr>
<tr> <td> Sale Price: </td> <td> <%= onerec.saleprice %> </td> </tr>
<tr> <td> Status: </td> <td> <%= onerec.status %> </td> </tr>
</table>